<div class="col-lg-3 ">
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">

                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/Thandai.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Thandai</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">91</th>
                                        <th class="tableInfo">08</th>
                                        <th class="tableInfo">3.25</th>
                                        <th class="tableInfo">0.0</th>
                                        <th class="tableInfo">0.030</th>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">
                <!--<div class="product_sale nutriChoiceTag">
                    <p>Nutritionist Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/TandooriFruitChaat.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>

                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Tandoori Fruit Chaat</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">139</th>
                                        <th class="tableInfo">13</th>
                                        <th class="tableInfo">0.92</th>
                                        <th class="tableInfo">3.55</th>
                                        <th class="tableInfo">0.121</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-3 ">

    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">
                <div class="product_sale nutriChoiceTag">
                    <p>Nutritionist Choice</p>
                </div>

                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/KhattaMeethaKarela.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <!--<button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>-->
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Khatta Meetha Karela</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">102</th>
                                        <th class="tableInfo">06</th>
                                        <th class="tableInfo">2.15</th>
                                        <th class="tableInfo">3.96</th>
                                        <th class="tableInfo">0.272</th>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">
                <!--<div class="product_sale nutriChoiceTag">
                    <p>Nutritionist Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/VegButterMasala.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>

                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Veg Butter Masala</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">73</th>
                                        <th class="tableInfo">05</th>
                                        <th class="tableInfo">1.60</th>
                                        <th class="tableInfo">7.03</th>
                                        <th class="tableInfo">0.226</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-3 ">

    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">

                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/VarutharichaSambar.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Mustard allergen.png" /></button>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Varutharicha Sambar</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">82</th>
                                        <th class="tableInfo">09</th>
                                        <th class="tableInfo">2.79</th>
                                        <th class="tableInfo">1.17</th>
                                        <th class="tableInfo">0.240</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">
                <!--<div class="product_sale catererChoiceTag">
                    <p>Caterer Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/ParuppuRasam.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Mustard allergen.png" /></button>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Paruppu Rasam</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">57</th>
                                        <th class="tableInfo">09</th>
                                        <th class="tableInfo">2.95</th>
                                        <th class="tableInfo">0.42</th>
                                        <th class="tableInfo">0.171</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-3 ">
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">
                <!--<div class="product_sale catererChoiceTag">
                    <p>Caterer Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/DalMughalai.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <!--<button class="product_heart pull-left"><img src="AllergenIcons/Wheat allergen.png" /></button>-->
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Dal Mughalai</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">80</th>
                                        <th class="tableInfo">10</th>
                                        <th class="tableInfo">4.08</th>
                                        <th class="tableInfo">1.66</th>
                                        <th class="tableInfo">0.112</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">
                <!--<div class="product_sale nutriChoiceTag">
                    <p>Nutritionist Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/Phulka.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Wheat allergen.png" /></button>

                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Phulka</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">247</th>
                                        <th class="tableInfo">50</th>
                                        <th class="tableInfo">8.12</th>
                                        <th class="tableInfo">0.0</th>
                                        <th class="tableInfo">0.124</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>