   <!-- Your Food Is safe -->
<div class="col-lg-12 menu-slides alltime" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="foodSafe.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Your Food Is Safe</h1>
        <p>NutriSafe is an initiative by Health First Services to ensure Safety, Quality and Nutrition of food served at the Citrix Cafeteria. The Health First team works passionately along with the Citrix Facilities team to ensure that the food catered to you is safe, healthy and nutritious.</p>

    </div>

</div>
<!-- End Of Food Is Safe-->