 <!-- Food Wastage -->
<div class="col-lg-12 foodWastageContainer menu-slides alltime" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">

    <!--Image-->
    <div class="col-lg-5 banner-info-left fadeInLeft animated " data-wow-delay=".5s" style="visibility: visible;animation-delay: 0.5s; animation-name: fadeInLeft;">
        <img src="fd4.jpg" class="wasteimg" />
    </div>
    <div class="col-lg-7 banner-info-right disp">
        <div class="banner-info-right-top fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;margin-bottom:10%;">
            <br />
            <h2 class="text-center wastetitle blackText"><span style="font-size:160% !important;">TODAY'S WASTAGE </span><br /><span style="font-size:160% !important;">IS </span><br /><span style="font-size:160% !important;">TOMMOROW'S SHORTAGE</span></h2>
            <!--Display Food and People Data-->
            <h3 class="text-center wastetitle">
                <span class="text-center blackText" style="font-size:150% !important;">Last Week We Wasted</span><br /><br />
                <span class="text-center tab blink text-danger" data-animation="animated zoomInLeft" style="font-size:200% !important;">
                    &nbsp; &nbsp; 362
                </span>
                <span class="wastetitle blackText" style="font-size:150% !important;">Kg Of Food At Lunch</span>
            </h3>
            <br />
            <h3 class="text-center wastetitle">
                <span class="wastetitle blackText" style="font-size:150% !important;">This Would Have Fed  </span><br /><br />
                <span class="wastetitle blackText" style="font-size:160% !important;">one meal to</span>
                <span class="text-center tab blink text-danger" data-animation="animated zoomInLeft" style="font-size:200% !important;">
                    723
                </span>
                <span class="wastetitle blackText" style="font-size:160% !important;">people</span>
                <br /><br /><br />
                <span class="wastetitle blackText" style="font-size:160% !important; font-style:italic; font-family:sans-serif;">“THINK before you waste your food”</span>
            </h3>
        </div>
    </div>


</div>
<!-- End Of Food Wastage-->