<div class="col-lg-12 lunchmenu4th menu-slides" data-producerMessage="Krishna Grand">
    <header class="bg-top">
        <marquee>Disclaimer:The calories shown are based on a standardized cooking method. It may vary based on the ingredients and caterer’s cooking methodology.</marquee>
    </header>
    <div class="col-lg-6 paddingRightLeft40">
        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item">
                    <div class="product_sale nutriChoiceTag">
                        <p>Nutritionist Choice</p>
                    </div>
                    <div class="product_image maxHeight_255 image_640X461">
                        <a href="#"><img class="minHeight_225" src="foodItems/SaffraniMotiPulao.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="veg.png" /></button>
                            <!-- <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>-->
                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title product_title_Yellow">
                            <h5>Saffrani Moti Pulao</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL.  <span> &nbsp; 320 </span></th>
                                            <th class="tableInfo">CARB  <span>&nbsp; 50 </span></th>
                                            <th class="tableInfo">PRO. <span>&nbsp; 5.8 </span></th>
                                            <th class="tableInfo">FAT(A). <span>&nbsp; 5.2 </span></th>
                                            <th class="tableInfo">SOD. <span>&nbsp; 0.41 </span></th>
                                        </tr>
                                    </thead>
                                    <!--<tbody>
                                        <tr>
                                            <th class="tableInfo">320</th>
                                            <th class="tableInfo">50</th>
                                            <th class="tableInfo">5.8</th>
                                            <th class="tableInfo">5.2</th>
                                            <th class="tableInfo">0.41</th>
                                        </tr>
                                    </tbody>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item">
                    <!--<div class="product_sale nutriChoiceTag">
                        <p>Nutritionist Choice</p>
                    </div>-->
                    <div class="product_image maxHeight_255 image_640X461">
                        <a href="#"><img class="minHeight_225" src="foodItems/GonguraPepperRasam.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="veg.png" /></button>
                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title product_title_Green">
                            <h5>Gongura Pepper Rasam</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL.  <span> &nbsp; 72 </span></th>
                                            <th class="tableInfo">CARB  <span>&nbsp; 7.0 </span></th>
                                            <th class="tableInfo">PRO. <span>&nbsp; 2.3</span></th>
                                            <th class="tableInfo">FAT(A). <span>&nbsp; 3.0 </span></th>
                                            <th class="tableInfo">SOD. <span>&nbsp; 0.0 </span></th>
                                        </tr>
                                    </thead>
                                    <!--<tbody>
                                        <tr>
                                            <th class="tableInfo">72</th>
                                            <th class="tableInfo">7.0</th>
                                            <th class="tableInfo">2.3</th>
                                            <th class="tableInfo">3.0</th>
                                            <th class="tableInfo">0.0</th>
                                        </tr>
                                    </tbody>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-6 paddingRightLeft40">

        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item">

                    <div class="product_image maxHeight_255 image_640X461">
                        <a href="#"><img class="minHeight_225" src="foodItems/SouthIndianVegetableBiryani.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="veg.png" /></button>
                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title product_title_Red">
                            <h5>South indian Vegetable Biryani</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL.  <span> 532 </span></th>
                                            <th class="tableInfo">CARB  <span> 79 </span></th>
                                            <th class="tableInfo">PRO. <span> 6.0 </span></th>
                                            <th class="tableInfo">FAT(A). <span> 10.0 </span></th>
                                            <th class="tableInfo">SOD. <span> 0.41 </span></th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item">
                    <!--<div class="product_sale catererChoiceTag">
                        <p>Caterer Choice</p>
                    </div>-->
                    <div class="product_image maxHeight_255 image_640X461">
                        <a href="#"><img class="minHeight_225" src="foodItems/HyderbadiChickenBiryani.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="Non_veg_symbol.png" /></button>
                            <!--<button class="product_heart pull-left"><img src="Nuts allergen.png" /></button>-->
                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title product_title_Red">
                            <h5>Hyderbadi Chicken Biryani</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL.  <span> &nbsp; 544 </span></th>
                                            <th class="tableInfo">CARB  <span>&nbsp; 46 </span></th>
                                            <th class="tableInfo">PRO. <span>&nbsp; 15.1 </span></th>
                                            <th class="tableInfo">FAT(A). <span>&nbsp; 11.0 </span></th>
                                            <th class="tableInfo">SOD. <span>&nbsp; 0.30 </span></th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>