
 <!-- Fruit Of The Day - WaterMelon-->
<div class="col-lg-12 menu-slides lunchmenu21stNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Watermelon.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Watermelon</h1>

        <ul class="Bulletpoints">
            <li>Water melon has high water content and is a good source of the potent antioxidant called Lycopene. </li>
            <li>It is rich in the electrolytes sodium and potassium and helps to control our blood pressure levels.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">30</th>
                        <th class="tableInfoWhite">7.55</th>
                        <th class="tableInfoWhite">0.61</th>
                        <th class="tableInfoWhite">0.15</th>
                        <th class="tableInfoWhite">0.001</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->

 <!-- Fruit Of The Day - Papaya-->
<div class="col-lg-12 menu-slides lunchmenu22ndNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Papaya.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Papaya</h1>

        <ul class="Bulletpoints">
            <li>Papaya is high in all powerful immune boosting Antioxidant Vitamins like Vitamin C, A and E. The antioxidants slow down the aging process in our body. </li>
            <li>Papaya contains two enzymes; papain and chymopapain which helps to reduce inflammation and increases the rate of healing and burns. </li>
            <li>Papaya helps lower cholesterol due to its high fiber content.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">39</th>
                        <th class="tableInfoWhite">9.81</th>
                        <th class="tableInfoWhite">0.61</th>
                        <th class="tableInfoWhite">0.14</th>
                        <th class="tableInfoWhite">0.003</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->

<!-- Fruit Of The Day - Pineapple-->
<div class="col-lg-12 menu-slides lunchmenu22ndNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Pineapple.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Pineapple</h1>

        <ul class="Bulletpoints">
            <li>Pineapples are an excellent source of Vitamin C, which is required for the collagen synthesis in the body. </li>
            <li>They contain both soluble and insoluble fiber which strips the blood vessels clean of excess cholesterol and eliminates it from the body. </li>

        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">Sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">48</th>
                        <th class="tableInfoWhite">12.63</th>
                        <th class="tableInfoWhite">0.54</th>
                        <th class="tableInfoWhite">0.12</th>
                        <th class="tableInfoWhite">0.001</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->

<!-- Fruit Of The Day - Mosambi -->
<div class="col-lg-12 menu-slides lunchmenu23rdNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Mosambi.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Mosambi</h1>

        <ul class="Bulletpoints">
            <li>Mosambi contains high amounts of Vitamin C which helps in reducing swelling and inflammation. </li>
            <li>It also acts as a detoxifying agent due to its richness in Potassium that helps to remove toxins. </li>
            <li>Mosambi is highly recommended for athletes as it reduces muscle cramps and hydrates the body after a rigorous work out.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">43</th>
                        <th class="tableInfoWhite">11</th>
                        <th class="tableInfoWhite">0.7</th>
                        <th class="tableInfoWhite">0.2</th>
                        <th class="tableInfoWhite">0.00</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->

  <!-- Fruit Of The Day - Banana -->
<div class="col-lg-12 menu-slides lunchmenu24thNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Banana.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Banana</h1>

        <ul class="Bulletpoints">
            <li>Banana is an edible fruit rich in Potassium and Vitamins.</li>
            <li>Banana helps in providing relief from Stomach Ulcer, Diarrhoea & Constipation.</li>
            <li>Banana aids in treating Piles & Anaemia.</li>
            <li>It reduces inflammation from Arthritis & Gout, keeps eyes & bones healthy.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">Sodium-g</th>
                        <th class="tableHeader">Vitamin C-mg</th>
                        <th class="tableHeader">POTASSIUM-mg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">89</th>
                        <th class="tableInfoWhite">23</th>
                        <th class="tableInfoWhite">1.1</th>
                        <th class="tableInfoWhite">0.3</th>
                        <th class="tableInfoWhite">1.00</th>
                        <th class="tableInfoWhite">8.7</th>
                        <th class="tableInfoWhite">306</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->

 <!-- Fruit Of The Day - Orange-->
<div class="col-lg-12 menu-slides lunchmenu20thNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Orange.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Orange</h1>

        <ul class="Bulletpoints">
            <li>Oranges are an excellent source of Vitamin C, a powerful antioxidant which helps remove free radicals and prevent damage both inside and outside cells.</li>
            <li>It helps prevent the occurrence of kidney stones as it increases the urinary pH thus reducing the risk of stone formation.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">47</th>
                        <th class="tableInfoWhite">11.75</th>
                        <th class="tableInfoWhite">0.94</th>
                        <th class="tableInfoWhite">0.12</th>
                        <th class="tableInfoWhite">0.00</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->

 <!-- Fruit Of The Day - Muskmelon-->
<div class="col-lg-12 menu-slides lunchmenu27thNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="MuskMelon.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Muskmelon</h1>

        <ul class="Bulletpoints">
            <li>Muskmelon is rich in potassium, which helps in controlling blood pressure.</li>
            <li>It is an excellent source of Vitamin A and beta carotene, which helps sharpen eye sight as well as reduce the risk of cataract development.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">Sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">34</th>
                        <th class="tableInfoWhite">8.16</th>
                        <th class="tableInfoWhite">0.84</th>
                        <th class="tableInfoWhite">0.19</th>
                        <th class="tableInfoWhite">0.016</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- End Of Fruit Of The Day-->
