<div class="col-lg-12 menu-slides lunchmenu17thNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Grapes.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Grapes</h1>

        <ul class="Bulletpoints">
            <li>Grapes are a wonderful source of micro-nutrients like copper, iron, and manganese, all of which are important in the formation and strengthening of bones. </li>
            <li>The high levels of Vitamin C, K, and A in grapes gives your immune system a healthy boost. </li>
            <li>Flavonoids present in grapes are antioxidants, which can reduce and fight the damage caused by free radicals.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (Per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g</th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">Sodium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">69</th>
                        <th class="tableInfoWhite">18.1</th>
                        <th class="tableInfoWhite">0.72</th>
                        <th class="tableInfoWhite">0.16</th>
                        <th class="tableInfoWhite">0.002</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>