<div class="single-row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4 padding40">
        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item rate_yellow">
                    <!--<div class="product_sale largeFont catererChoiceTag">
                        <p>Caterer Choice</p>
                    </div>-->
                    <div class="product_image image_640X461">
                        <a href="#"><img class="minHeight_460" src="foodItems/BrokenWheatUpma.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="veg.png" /></button>
                            <button class="product_heart pull-left"><img src="AllergenIcons/Wheat allergen.png" /></button>
                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title product_title_Yellow">
                            <h5>Broken Wheat Upma</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL. </th>
                                            <th class="tableInfo">CARB. </th>
                                            <th class="tableInfo">PRO.</th>
                                            <th class="tableInfo">FAT(A).</th>
                                            <th class="tableInfo">SOD.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="tableInfo">95</th>
                                            <th class="tableInfo">16</th>
                                            <th class="tableInfo">1.03</th>
                                            <th class="tableInfo">1.50</th>
                                            <th class="tableInfo">0.306</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-lg-4">

    </div>
</div>