<div class="col-lg-12 menu-slides lunchmenu20thNov" data-producerMessage="Health First &mdash; Signalling a new era in Food Safety and Nutrition">
    <img src="Papaya.jpg" class="bg" />

    <div class="page-wrap">
        <h1> Fruit Of The Day- Papaya</h1>

        <ul class="Bulletpoints">
            <li>Papaya is high in all powerful immune boosting Antioxidant Vitamins like Vitamin C, A and E. The antioxidants slow down the aging process in our body. </li>
            <li>Papaya contains two enzymes; papain and chymopapain which helps to reduce inflammation and increases the rate of healing and burns. </li>
            <li>Papaya helps lower cholesterol due to its high fiber content.</li>
        </ul>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <h2 class="text-center tableHeaderLarge">Nutritional Value (per 100 gms)</h2>
                    </tr>
                    <tr>
                        <th class="tableHeader">Calories-Kcals</th>
                        <th class="tableHeader">Carbohydrate-g</th>
                        <th class="tableHeader">Protein-g </th>
                        <th class="tableHeader">Fat-g</th>
                        <th class="tableHeader">sodium-g</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tableInfoWhite">39</th>
                        <th class="tableInfoWhite">9.81</th>
                        <th class="tableInfoWhite">0.61</th>
                        <th class="tableInfoWhite">0.14</th>
                        <th class="tableInfoWhite">0.003</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>