<div class="col-lg-4 paddingRightLeft40">
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">
                <!--<div class="product_sale catererChoiceTag">
                    <p>Caterer Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/LemonGingerCooler.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <!-- <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>-->
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Lemon Ginger Cooler</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">13</th>
                                        <th class="tableInfo">02</th>
                                        <th class="tableInfo">0.22</th>
                                        <th class="tableInfo">0.0</th>
                                        <th class="tableInfo">0.112</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">
                <!--<div class="product_sale nutriChoiceTag">
                    <p>Nutritionist Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/HariyaliTikki.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <!--<button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>-->

                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Hariyali Tikki</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.  </th>
                                        <th class="tableInfo">CARB  </th>
                                        <th class="tableInfo">PRO. </th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">196</th>
                                        <th class="tableInfo">8.0</th>
                                        <th class="tableInfo">1.93</th>
                                        <th class="tableInfo">16.7</th>
                                        <th class="tableInfo">0.108</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="col-lg-4 paddingRightLeft40">

    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">
                <div class="product_sale nutriChoiceTag">
                    <p>Nutritionist Choice</p>
                </div>
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/RedPumpkinsubzi.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Red Pumpkin subzi</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">55</th>
                                        <th class="tableInfo">04</th>
                                        <th class="tableInfo">0.95</th>
                                        <th class="tableInfo">3.34</th>
                                        <th class="tableInfo">0.229</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_yellow">
                <!--<div class="product_sale catererChoiceTag">
                    <p>Caterer Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/Chole.png"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <!--<button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>-->
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Yellow">
                        <h5>Chole Masala</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">79</th>
                                        <th class="tableInfo">09</th>
                                        <th class="tableInfo">3.9</th>
                                        <th class="tableInfo">1.62</th>
                                        <th class="tableInfo">0.293</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-lg-4 paddingRightLeft40">

    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">

                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/ChowChowSambar.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Mustard allergen.png" /></button>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Chow Chow Sambar</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">81</th>
                                        <th class="tableInfo">11</th>
                                        <th class="tableInfo">3.89</th>
                                        <th class="tableInfo">1.82</th>
                                        <th class="tableInfo">0.244</th>
                                    </tr>
                                </tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-lg-12 productContainer">
        <ul class="product_list list">
            <li class="product_item rate_green">
                <!--<div class="product_sale catererChoiceTag">
                    <p>Caterer Choice</p>
                </div>-->
                <div class="product_image maxHeight_238">
                    <a href="#"><img class="minHeight_225" src="foodItems/TomatoRasam.jpg"></a>
                    <div class="product_buttons">
                        <button class="product_heart pull-right"><img src="veg.png" /></button>
                        <button class="product_heart pull-left"><img src="AllergenIcons/Mustard allergen.png" /></button>
                    </div>
                </div>
                <div class="product_values">
                    <div class="product_title product_title_Green">
                        <h5>Tomato Rasam</h5>
                    </div>
                    <div class="product_desc width100">
                        <div class="table-responsive col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="tableInfo">CAL.</th>
                                        <th class="tableInfo">CARB.</th>
                                        <th class="tableInfo">PRO.</th>
                                        <th class="tableInfo">FAT(A).</th>
                                        <th class="tableInfo">SOD.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="tableInfo">47</th>
                                        <th class="tableInfo">04</th>
                                        <th class="tableInfo">1.23</th>
                                        <th class="tableInfo">2.23</th>
                                        <th class="tableInfo">0.156</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>