<div class="col-lg-12 lunchmenu9thNov menu-slides" data-producerMessage="Krishna Grand" data-menuType="Lunch">
    <header class="bg-top">
        <marquee>Disclaimer:The calories shown are based on a standardized cooking method. It may vary based on the ingredients and caterer’s cooking methodology.</marquee>
    </header>
    <!--Three items-->
    <div class="single-row">
        <div class="col-lg-4 padding40">
            <div class="col-lg-12 productContainer">
                <ul class="product_list list">
                    <li class="product_item rate_green">
                        <!--<div class="product_sale nutriChoiceTag">
                            <p>Nutritionist's Choice</p>
                        </div>-->
                        <!--<div class="catererNameLarge"> Krishna Grand</div>-->
                        <div class="product_image ">
                            <a href="#"><img class="minHeight_225" src="foodItems/Curd.jpg"></a>
                            <div class="product_buttons">
                                <button class="product_heart pull-right"><img src="veg.png" /></button>
                                <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>
                            </div>
                        </div>
                        <div class="product_values">
                            <div class="product_title product_title_Green">
                                <h5>Curd</h5>
                            </div>
                            <div class="product_desc width100">
                                <div class="table-responsive col-sm-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="tableInfo">CAL.</th>
                                                <th class="tableInfo">CARB.</th>
                                                <th class="tableInfo">PRO.</th>
                                                <th class="tableInfo">FAT(A).</th>
                                                <th class="tableInfo">SOD.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="tableInfo">60</th>
                                                <th class="tableInfo">03</th>
                                                <th class="tableInfo">3.10</th>
                                                <th class="tableInfo">0.0</th>
                                                <th class="tableInfo">0.0</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col-lg-4 padding40">
            <div class="col-lg-12 productContainer">
                <ul class="product_list list">
                    <li class="product_item rate_yellow">
                        <!--<div class="catererNameLarge"> Krishna Grand</div>-->

                        <div class="product_image">
                            <img class="minHeight_225" src="foodItems/Kalakand.jpg">
                            <div class="product_buttons">
                                <button class="product_heart pull-right"><img src="veg.png" /></button>
                                <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>
                                <button class="product_heart pull-left"><img src="AllergenIcons/Nuts allergen.png" /></button>
                            </div>
                        </div>

                        <div class="product_values">
                            <div class="product_title product_title_Yellow">
                                <h5>Kalakand</h5>
                            </div>
                            <div class="product_desc width100">
                                <div class="table-responsive col-sm-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="tableInfo">CAL.</th>
                                                <th class="tableInfo">CARB.</th>
                                                <th class="tableInfo">PRO.</th>
                                                <th class="tableInfo">FAT(A).</th>
                                                <th class="tableInfo">SOD.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="tableInfo">31</th>
                                                <th class="tableInfo">03</th>
                                                <th class="tableInfo">0.66</th>
                                                <th class="tableInfo">0.36</th>
                                                <th class="tableInfo">0.022</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-4 padding40">
            <div class="col-lg-12 productContainer">
                <ul class="product_list list">
                    <li class="product_item rate_yellow">
                        <!--<div class="catererNameLarge"> Krishna Grand</div>-->

                        <div class="product_image">
                            <img class="minHeight_225" src="foodItems/Kosambri.jpg">
                            <div class="product_buttons">
                                <button class="product_heart pull-right"><img src="veg.png" /></button>
                            </div>
                        </div>

                        <div class="product_values">
                            <div class="product_title product_title_Yellow">
                                <h5>Kosambri</h5>
                            </div>
                            <div class="product_desc width100">
                                <div class="table-responsive col-sm-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="tableInfo">CAL.</th>
                                                <th class="tableInfo">CARB.</th>
                                                <th class="tableInfo">PRO.</th>
                                                <th class="tableInfo">FAT(A).</th>
                                                <th class="tableInfo">SOD.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="tableInfo">148</th>
                                                <th class="tableInfo">15</th>
                                                <th class="tableInfo">7.33</th>
                                                <th class="tableInfo">1.15</th>
                                                <th class="tableInfo">0.466</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>