<div class="single-row">
    <div class="col-lg-2"></div>
    <div class="col-lg-4 padding40">
        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item rate_red">
                    <!--<div class="catererNameLarge"> KRISHNA GRAND</div>-->

                    <div class="product_image maxHeight_238">
                        <a href="#"><img class="minHeight_460" src="foodItems/PaniPuri.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="veg.png" /></button>
                            <button class="product_heart pull-left"><img src="AllergenIcons/Wheat allergen.png" /></button>

                            <!-- <button class="product_heart pull-left"><img src="AllergenIcons/Milk allergen.png" /></button>-->
                        </div>
                    </div>
                    <div class="product_values">
                        <div class="product_title product_title_Red">
                            <h5>Pani Puri</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL. </th>
                                            <th class="tableInfo">CARB. </th>
                                            <th class="tableInfo">PRO.</th>
                                            <th class="tableInfo">FAT(A).</th>
                                            <th class="tableInfo">SOD.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="tableInfo">194</th>
                                            <th class="tableInfo">27</th>
                                            <th class="tableInfo">3.98</th>
                                            <th class="tableInfo">0.0</th>
                                            <th class="tableInfo">0.568</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="col-lg-4 padding40">

        <div class="col-lg-12 productContainer">
            <ul class="product_list list">
                <li class="product_item rate_red">
                    <!--<div class="catererNameLarge"> KRISHNA GRAND</div>-->

                    <div class="product_image maxHeight_238">
                        <a href="#"><img class="minHeight_460" src="foodItems/MasalaPuri.jpg"></a>
                        <div class="product_buttons">
                            <button class="product_heart pull-right"><img src="veg.png" /></button>
                            <button class="product_heart pull-left"><img src="AllergenIcons/Wheat allergen.png" /></button>
                        </div>
                    </div>

                    <div class="product_values">
                        <div class="product_title product_title_Red">
                            <h5>Masala Puri</h5>
                        </div>
                        <div class="product_desc width100">
                            <div class="table-responsive col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="tableInfo">CAL.</th>
                                            <th class="tableInfo">CARB.</th>
                                            <th class="tableInfo">PRO.</th>
                                            <th class="tableInfo">FAT(A).</th>
                                            <th class="tableInfo">SOD.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="tableInfo">73</th>
                                            <th class="tableInfo">09</th>
                                            <th class="tableInfo">2.39</th>
                                            <th class="tableInfo">0.55</th>
                                            <th class="tableInfo">0.129</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>